@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

:root {
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}

body {
  width: 75%;
  margin: 2rem auto;
}

ul{
  list-style: none;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  gap:2rem;
  align-self: center;
  color: var(--Dark-grayish-blue);
  cursor:pointer;
}

.navigation-list li:hover {
  color: var(--Soft-red);
}

.mobile-burger{
  display: none;
}

.main-section {
  margin: 2rem auto;
}

.header {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 3rem;
  gap: 1.5rem;
}

.header-bright_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.desktop-image {
  width: 100%;
}

.mobile-image {
  display: none;
}

.title_section {
  display: flex;
  width: 100%;
}

.mobile-nav {
  display: none;
}

.title_section > h1 {
  width: 70%;
  color: var(--Very-dark-blue);
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
}

.description_section {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.description_section p {
  color: var(--Dark-grayish-blue);
  font-size: 0.96rem;
  line-height: 1.4rem;
}

.btn {
  width: 55%;
  border: none;
  padding: 1rem 0;
  background-color: var(--Soft-red);
  color: var(--Off-white);
  font-weight: 900;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--Very-dark-blue);
}

/* header news section */

.header-new_section {
  background-color: var(--Very-dark-blue);
  width: 100%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
}

.header-new_section h2 {
  color: var(--Soft-orange);
  font-size: 2.5rem;
}

.news {
  color: white;
  border-bottom: 1px solid white;
  padding: 1.8rem 0;
}

.news h3 {
  color: var(--Off-white);
  font-size: 1.2rem;
  cursor: pointer;
}

.news h3:hover {
  color: var(--Soft-orange);
}

.news p {
  color:var(--Grayish-blue);
  margin-top: 8px;
  font-size: 14px;
}

.no-border {
  padding: 1.8rem 0 0 0;
  border: none;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.footer-item {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.footer-item img {
  width: 30%;
}

.text-item{
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text-item h2 {
  color: var(--Grayish-blue);
  font-size: 1.6rem;
}

.text-item h5 {
  font-size: 1.1rem;
  cursor: pointer;
}

.text-item p {
  font-size: 13px;
  letter-spacing: 0.05rem;
  color: var(--Dark-grayish-blue);
}

.text-item h5:hover {
  color: var(--Soft-red);
}

/* Responsive design now */

@media (max-width:414px) {
    body {
      width: 90%;
    }

    .navigation ul {
      display: none;
    }
    
    .mobile-burger {
      display: block;
      cursor: pointer;
    }

    .main-section {
      margin: 2rem auto;
    }
    
    .header {
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }
    
    .title_section {
      flex-direction: column;
      gap: 1rem;
    }

    .desktop-image {
      display: none;
    }
    
    .mobile-image {
      display: block;
      width: 100%;
    }
    
    .title_section > h1 {
      width: 100%;
      font-size: 2.6rem;
      line-height: 2.8rem;
    }
    
    .description_section {
      width: 100%;
    }
    
    .description_section p {
      font-size: 1rem;
    }
    
    .btn {
      width: 55%;
    }
    
   
    .footer {
      flex-direction: column;
      gap: 2rem;
    }
    
    .footer-item {
      width: 100%;
      display: flex;
      gap: 1rem;
    }
    
    .footer-item img {
      width: 28%;
    }
    
    .text-item{
      gap: 0.5rem;
    }

    .mobile-nav {
      display: block;
      position: absolute;
      left: 30%;
      height: 100%;
      background-color: white;
      width: 65%;
      visibility: hidden;
      text-align: end;
    }

    .mobile-burger-close {
      cursor:pointer;
      margin-bottom: 4.5rem;
    }
    
    .mobile-nav li {
      display: block;
      list-style: none;
      text-align: start;
      padding: 0.8rem 1.5rem;
      color: var(--Dark-grayish-blue);
      cursor:pointer;
    }
    
    .mobile-nav li:hover {
      color: var(--Soft-red);
    }

    .navList-mobile {
      visibility: visible;
    }
}

