@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 13px;
  font-family: "Manrope", sans-serif;
}

.show {
  visibility: visible;
  opacity: 1;
}

:root {
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

body {
  background-color: var(--Light-Grayish-Blue);
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-content: center;
  margin:  auto;
}

/* Mobile first */

.container {
  width: 85%;
  margin: 0 auto;
  border-radius: 12px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.header {
  width: 100%;
  border-radius: 12px;
  /* solo por mobile first */
}

.header > img {
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.main_section {
  display: flex;
  flex-direction: column;
}

.section {
  padding: 1rem 2rem;
  width: 100%;
  display:block
}

.section > h2 {
  font-size: 1.3rem;
  color: var(--Very-Dark-Grayish-Blue);
  font-weight: 700;
  line-height: 1.9rem;
  margin-bottom: 0.8rem;
}

.section > p {
  color: var(--Desaturated-Dark-Blue);
  font-weight: 500;
  letter-spacing: 0.6px;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.profile {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

.michelle {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}

.michelle > img {
  width: 40px;
  border-radius: 50%;
}

.data {
  align-self: center;
  width: 100%;
  display: flex;
  gap: 0,2rem;
  flex-direction: column;
}

.name {
  font-weight: 700;
  letter-spacing: 0.5px;
  color: var(--Very-Dark-Grayish-Blue);
}

.date {
  color: var(--Desaturated-Dark-Blue);
  font-weight: 500;
}

.share-img {
  align-self: center;
  background-color: var(--Light-Grayish-Blue);
  border-radius: 50%;
  padding: 6px;
  border: none;
}

.share-img > img {
  width: 18px;
}

.show {
  visibility: visible;
  opacity: 1;
}

.share {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--Very-Dark-Grayish-Blue);
  padding: 1rem 2rem;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  visibility: hidden;
  /* Positions */
  position: absolute;
  bottom: 0.0rem;

}

.share-left {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.share-ph {
  align-self: center;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: var(--Grayish-Blue);
  font-weight: 500;
}

.icons {
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1.4rem;
  align-items: center;
}

.icon {
  background-color: var(--Desaturated-Dark-Blue);
}

button:hover {
  background-color: var(--Desaturated-Dark-Blue);
}


/* Desktop design*/

@media (min-width:1020px) {
  .container {
    flex-direction: row;
    gap: 0.4rem;
  }
  
  .header {
    width: 300px;
    display: flex;
  }
  
  /* For the next time use background image, no img in html */
  .header > img {
    width: 300px;
    align-self: center;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 12px;
  }
  
  .main_section {
    align-self: center;
    width: 600px;
    display: flex;
    flex-direction: column;
  }
  


  .share {
    width: 50%;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5em;
    transition: all 0.3s ease-in-out;
    /* Positions */
    position: absolute;
    bottom: 5rem;
    left: 23rem;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }

  
  button:hover {
    background-color: var(--Desaturated-Dark-Blue);
  }
  .icon {
    display: none;
  }

  
}